<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'shared/errors', obj: @video_game %> 
      <%= form_with model: @video_game, class: "shadow p-3 mb-3 bg-info rounded", local: true do |f| %>
        <div class="form_group row">
          <%= f.label :name, class: "col-2 col-form-label text-dark" %>
          <div class="col-8">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Title of video_game" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-dark" %>
          <div class="col-8">
            <br>
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of video_game" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :image_path, "Image URL:", class:"form-label text-dark" %>
          <%=f.text_area :image_path, class:"form-control" %>
        </div>
        <br>
        <div class="d-flex justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>