<% if @video_game.errors.any? %>
  <h2>The following errors prevented the video game from being saved</h2>
  <ul>
    <% @video_game.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @video_game) do |form| %>
  <%= form.label :name, "Name:" %>
  <br>
  <%= form.text_field :name %>
  <br>
  <%= form.label :name, "Description:" %>
  <br>
  <%= form.text_area :description %>
  <br>
  <%= form.label :name, "Genre" %>
  <br>
  <%= form.text_area :genre %>
  <br>
  <%= form.submit "Update Video Game" %>
<% end %>