<div class="container">
     <div class="row">
        <% @video_games.each do |video_game| %>
        <div class="col-3 mt-4">
          <div class="card text-center shadow mb-5 rounded custom-bg-dark ">
            <img src="https://mario.wiki.gallery/images/thumb/e/e0/Donkey_Kong_Arcade_side_art.png/375px-Donkey_Kong_Arcade_side_art.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-decoration-none"><%= link_to video_game.name, video_game_path(video_game), class: "text-success" %></h5>
              <p class="card-text"><%= truncate(video_game.description, length: 100) %></p>
              <%= link_to "View", video_game_path(video_game), class: "btn btn-outline-success" %>
              <% if logged_in? && (video_game.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_video_game_path(video_game), class: "btn btn-outline-info" %>
                <%= button_to "Delete", video_game_path(video_game), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>
     <% end %>   
    </div>
  </div>