<p><strong>Name:</strong><%= @video_game.name %></p>
<p><strong>Description: </strong><%= @video_game.description %></p>

<%= link_to 'Edit', edit_video_game_path(@video_game)%> |
<%= link_to 'Delete', video_game_path(@video_game), method: :delete, data: {confirm: "Are you sure"} %> |
<%= link_to 'Return to video games page', video_games_path %>
