<h1 class="text-center mt-8">Create a new arcade Game</h1>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render 'shared/errors', obj: @category %> 
        <%= form_with model: @video_game, class: "shadow p-3 mb-3 bg-info rounded", local: true do |f| %>
          <div class="form_group row">
            <%= f.label :name, "Video Game name", class: "col-2 col-form-label text-light" %>
            <div class="col-8">
              <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
            </div>
          </div>

          <div class="form-group justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>
        <% end %>
      </div>
      <div class="mb-3">
      <%= link_to '[ Cancel and return to video games listing ]', video_games_path, class: "text-info" %>
     </div>
    </div>
  </div>